.container-fluid {
	padding: 0;
}

@font-face {
	font-family: MyFont;
	src: url(../fonts/Slim Extreme.ttf);
}

.home-section {
	position: relative;
	width: 100%;
	height: 100vh;
}



.main_title {
	font-size: 60px;
	letter-spacing: 10px;
	font-weight: bold;	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main_desc {
	font-size: 30px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}





#start_button {
	font-size: 25px;
	border-radius: 20px;
	
}




.home-content {
	width: 100%;	
	z-index: 2;
	color: white;
	text-align: center;	
	font-family: MyFont;
			
	vertical-align: middle;
	color: white;
	position: absolute;
	top: 40%;	

}


.home-background {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;		
}

.home_bck, .firstbck {
	width: 100%;
	height: 100%;		
}


.header{
	width:100%;	
	z-index: 999;
	}




.navbar {
	background-color: rgba(0, 0, 0, 0.7);
	height: 55px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	position: absolute;		
	border: 0;
}


.navbar-header {
	padding-left: 20px;		
}

.collapse ul li {
	font-size: 15px;		
}

.header .nav li a, .header .navbar-header .navbar-brand  {
	color: white;
}



.firstsection {	
	width:100%;
	height: 100%;		
	position: relative;	
}




.firstbackground {
	height: 100%;
	width: 100%;		
}

.firstbackground img {	
	width: 100%;		
}

.firstcontent {	
	width: 100%;
	height: 100%;	
	margin-top: 10px;
	position: absolute;
}


.firstcontent ul li {
	display: inline;
	font-size: 25px;
	margin-right: 100px;
	margin-left: 100px;	
	border-radius: 8px;	
	color: white;		
	border: 0;
	background-color: rgba(76, 137, 202, .85)
	}

.firstcontent ul a{
	text-decoration: none;
}

.champ_buttons {
	text-align: center;
}

.champ_titles{
	list-style: none;			
}

.incorrect {
	border: 2px solid red;
}



.response_page {	
	width: 50%;	
	margin-left: auto;
	margin-right: auto;	
	background-color: rgba(255, 255, 255, .4);	
	text-align: center;
	font-family: Arial;	
	margin-bottom: 0;
}


.all_champ_response h1 {
	font-weight: bold;
}

.yes, .no {
	margin-top: 10px;
	font-size: 20px;
}

.run {
	margin-top: 20px;
	font-size: 22px;
	width: 200px;
	margin-bottom: 20px;
}

.response {
	height: 80%;
	width: 100%;
	position: absolute;
}

.response_box {	
	background-color: rgba(255, 255, 255, .4);	
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	text-align: center;	
	width: 50%;	
	max-height: 60%;
}

.input-group{
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: middle;
}

.summ_title {
	text-align: center;
	position: relative;
	color: black;
	font-weight: bold;
}

.champ_by_id_response {	
	width: 100%;	

}

.champ_by_id_run {
	font-size: 22px;
	position: relative;
	margin-top: 20px;
}


.champ_id_response_box {
	background-color: rgba(255, 255, 255, .4);	
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	width: 50%;	
	max-height: 50%;
	position: absolute;
	left: 25%;


}

.champ_id_response {
	
}

.champ_id_label{
	text-align: center;
	color: black;
	font-family: Arial;
}



.secondsection {
	width: 100%;
	height: 100%;	
}



.second_content {
	width: 100%;
	height: 100%;	
	position: absolute;		
	text-align: center;	
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	margin-top: 5%;
}



.game_run {
	font-size: 20px;	
	margin-top: 35px;
}



.secondbackground img {
	width: 100%;
	height: 100%;
}

#game_label {
	text-decoration: none;
}

.game_response_page {
	width: 100%;
	background: none;
	margin-top: 20px;
}

.fellowplayers{
	position: absolute;
	width: 33%;
	height: 68%;
	border: 5px solid white;
	overflow-y: auto;	
}

.fellowplayers_content {
	list-style: none;
	text-align: left;
}



.stats {
	position: absolute;
	left: 33%;
	width: 33%;
	height: 68%;
	border: 5px solid white;
	overflow-y: auto;
}

.stats_content {	
}

.general {
	position: absolute;
	left: 66%;
	width: 33%;
	height: 68%;
	border: 5px solid white;
	overflow-y: scroll;
}