.container-fluid {
	padding: 0;
}

@font-face {
	font-family: MyFont;
	src: url(../fonts/Slim Extreme.ttf);
}

.home-section {
	position: relative;
	width: 100%;
	height: 100vh;
}



.home-content, .home-background {
	position: absolute;
}

.main_title {
	font-size: 60px;
	letter-spacing: 10px;
	font-weight: bold;	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main_desc {
	font-size: 30px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}





#start_button {
	font-size: 25px;
	border-radius: 20px;
	
}




.home-content {
	width: 100%;
	z-index: 2;
	color: white;
	text-align: center;	
	font-family: MyFont;
			
	vertical-align: middle;
	color: white;
	position: absolute;
	top: 40%;	

}


.home-background {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;		
}

.home_bck, .firstbck {
	width: 100%;
	height: 100%;		
}


.header{
	width:100%;	
	z-index: 999;
	}




.navbar {
	background-color: rgba(0, 0, 0, 0.7);
	height: 106px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	position: absolute;		
	border: 0;
}

.navbar div {
	padding-top: 10px;
}

.navbar-header {
	padding-left: 20px;		
}

.collapse ul li {
	font-size: 15px;		
}

.header .nav li a, .header .navbar-header .navbar-brand  {
	color: white;
}




.firstsection {	
	width:100%;
	height: 100%;		
}



.firstbackground {
	height: 100%;
	width: 100%;		
}

.firstbackground img {	
	height: 45%;
	width: 100%;		
}

.firstcontent {
	position: absolute;
	width: 100%;
	height: 100%;
}


.space {
	
	width: 10%;
	top: 100px;
	left: 50%;
	position: absolute;
}

.firstcontent ul li {
	display: inline;
	font-size: 25px;
	margin-right: 100px;
	margin-left: 100px;	
	border-radius: 8px;	
	color: white;	
	position: relative;
	border: 0;
	background-color: rgba(76, 137, 202, .85)
	}

.firstcontent ul a{
	text-decoration: none;
}


.champ_titles{
	list-style: none;	
	text-align: center;
	margin-top: 165px;
}

.incorrect {
	border: 2px solid red;
}

.response_page {
	position: relative;
	width: 70%;
	height: 88%;
	margin-left: auto;
	margin-right: auto;
	
	background-color: rgba(255, 255, 255, .4);
}

.all_champ_response {
	text-align: center;
	color: rgba(0,0,0,0.9);
	font-family: Arial;	
}

.all_champ_response h1 {
	font-weight: bold;
}

.yes, .no {
	margin-top: 10px;
	font-size: 20px;
}

.yesnolabel {
	position: relative;
	text-align: center;
}

.run {
	margin-top: 20px;
	font-size: 22px;
	width: 200px;
}

.response_box {
	width: 100%;
	height: 68%;
	
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	overflow-y: scroll;
	text-align: center;
}